
<a id="logo-image" href="http://imgur.com/nzHRIRX"><img src="http://i.imgur.com/nzHRIRX.png" title="source: imgur.com" /></a>


<div ng-controller="AuthenticationController as auth">


  <!-- begin logout button -->
  <!-- <button id="logout" ng-style="{'color': '#CB87AF', 'background-color': '#651142'}" ng-if="auth.isAuthenticated" ng-click="auth.logout()">Log Out</button> -->
  <!-- end logout button -->
  <!-- begin login form -->
  <form ng-submit="auth.login()" ng-if="!auth.isAuthenticated">
    <input class="login-input" type="text" placeholder="email" ng-model="auth.email"/>
    <input class="login-input" type="password" placeholder="password" ng-model="auth.password"/></br>
    <input id="login-submit" type="submit" value="Log In" class="btn btn-submit">
  </form>
  <!-- end login form -->
<!-- 
  {{main.User.currentUser}} -->
<!--   <a href="#/profile">Profile</a>
 -->

  

  <form ng-if="auth.isAuthenticated" ng-submit="main.Carpool.results(main.Carpool.origin_address, main.Carpool.destination_address)">
    <h3 id="search-description">Search for a carpool below. Just enter the address you want to start from and the address you want to go to!</h3>
    <input type="text" ng-model="main.Carpool.origin_address" placeholder="starting address">
    <input type="text" ng-model="main.Carpool.destination_address" placeholder="destination address"></br>
    <input id="submit-button" type="submit" value="submit"></br>
  </form></br>
  <button id="new-link" ng-if="auth.isAuthenticated"><a href="#/carpools/new">Create New Carpool</a></button>
  <h2 ng-if="main.Carpool.data.length == 0">No Carpools match your search! Create your own carpool instead by clicking the link above!</h>
<!--   <form ng-submit="main.Carpool.data.carpools.user.addUser()"> -->
<!-- <div class="container">
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    
    <div class="carousel-inner">
      <div ng-class="{active:!$index}" ng-repeat="carpool in main.Carpool.data track by $index">
        <h1> {{carpool.name}} </h1>
        <h2>{{carpool.time}}</h2>
        <p>{{carpool.origin_address}}</p>
        <p>{{carpool.destination_address}}</p>
      </div> -->
<!--     <a class="carousel-control-left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control-right" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a> -->
  </div>
</div>
</div>

</div>


  <div class="text-center">
   <div class="panel panel-default carpool-search" ng-show="carpool.num_users < 5" ng-repeat="carpool in main.Carpool.data">

    <h1>{{carpool.name}}</h1>
    <h2> {{carpool.time}}</h2>
    <p><strong>Leaves From:</strong></br> {{carpool.origin_address}}</p>
    <p><strong>Goes To: </strong></br>{{carpool.destination_address}}</p>
    <p><strong>Number of Carpoolers:</strong></br> {{carpool.num_users}}</p>

   <button class="btn btn-large" ng-style="{'color': '#70A897', 'background-color': '#25703A'}" ng-click="main.Carpool.addUser(carpool.id)">Join</button></div></br>
  </div>

  

 <!--  </form> -->
  <!-- <div>{{main.Carpool.carpools.carpools}}</div>
   -->

  <!-- <ul>
    <li ng-repeat="carpool in Carpool">
      {{carpool.name}}
    </li>
  </ul> -->
</div>

<!-- carousel -->
<div class="carousel-font" class="container">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <p>Carpool Collective: Save the environment while making new friends and making your commute more pleasant.</p>
                <div class="carousel-caption">
                   <!--  <h3>How It Works</h3> -->
              <!--       <p>
                        Search for a carpool based on your origin and destination address. Find a carpool that fits your needs and join it. Or create your own for others to join!
                    </p> -->
                </div>
            </div>
            <div class="item">
                <p>Search for a carpool based on your origin and destination address. Find a carpool that fits your needs and join it. Or create your own for others to join!</p>
                <div class="carousel-caption">
                    <div class="col-lg-12 text-center v-center" style="font-size: 39pt;">
                        <a href="#"><span class="avatar"><i class="fa fa-google-plus"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-linkedin"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-facebook"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-github"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <p>Make friends, reduce traffic, and have fun!</p> 
                  <div class="carousel-caption">
                </div>
            </div>
        </div>
       <!--  <ul class="nav nav-pills nav-justified">
            <li data-target="#carousel1" data-slide-to="0" class="active">
                <a href="#">About<small>Carpool Collective</small></a>
            </li>
            <li data-target="#carousel1" data-slide-to="1">
                <a href="#">Projects<small>Lorem ipsum dolor sit</small></a>
            </li>
            <li data-target="#carousel1" data-slide-to="2">
                <a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a>
            </li>
        </ul> -->
    </div>
</div>
<!-- end carousel -->