<form ng-submit="main.Carpool.create(main.Carpool.name, main.Carpool.origin_address, main.Carpool.destination_address, main.Carpool.time)">
  <input type="text" ng-model="main.Carpool.name">
  <input type="text" ng-model="main.Carpool.origin_address">
  <input type="text" ng-model="main.Carpool.destination_address">

<!--   <input type="time" ng-model="main.Carpool.time"> -->
  <select ng-model="main.Carpool.time">
    <option value="6 a.m.">6 a.m.</option>
    <option value="7 a.m.">7 a.m.</option>
    <option value="8 a.m.">8 a.m.</option>
    <option value="9 a.m.">9 a.m.</option>
    <option value="10 a.m.">10 a.m.</option>
    <option value="11 a.m.">11 a.m.</option>
    <option value="12 p.m.">12 p.m.</option>
    <option value="1 p.m.">1 p.m.</option>
    <option value="2 p.m.">2 p.m.</option>
    <option value="3 p.m.">3 p.m.</option>
    <option value="4 p.m.">4 p.m.</option>
    <option value="5 p.m.">5 p.m.</option>
    <option value="6 p.m.">6 p.m.</option>
    <option value="7 p.m.">7 p.m.</option>
    <option value="8 p.m.">8 p.m.</option>
    <option value="9 p.m.">9 p.m.</option>
    <option value="10 p.m.">10 p.m.</option>
    <option value="11 p.m.">11 p.m.</option>
    <option value="12 a.m.">12 a.m.</option>
    <option value="1 a.m.">1 a.m.</option>
    <option value="2 a.m.">2 a.m.</option>
    <option value="3 a.m.">3 a.m.</option>
    <option value="4 a.m.">4 a.m.</option>
    <option value="5 a.m.">5 a.m.</option>

  </select>
  <input type="submit" value="submit">
</form>

