<h1>Your Carpool Collective Carpool!</h1>
<button id="show-carpool" ng-click="main.Carpool.viewCarpool()">View Details</button></br>



<div ng-show="main.Carpool.currentCarpool.origin_address" class="text-center">
  <div class="panel panel-default carpool-search">
    <h1><strong>{{main.Carpool.currentCarpool.name}}</strong></h1>
    <h2>{{main.Carpool.currentCarpool.time}}</h2>
    <h3 ng-show="main.Carpool.currentCarpool.origin_address">Leaving From: {{main.Carpool.currentCarpool.origin_address}}</h3>
    <h3 ng-show="main.Carpool.currentCarpool.origin_address">Going to: {{main.Carpool.currentCarpool.destination_address}}</h3>
    <h2 ng-show="main.Carpool.currentCarpool.origin_address"><strong>Users in This Carpool<strong></h2>
    <div ng-repeat="user in main.Carpool.currentCarpool.users">

      <h3>Name: {{user.name}}</h3>
      <h3>Email: {{user.email}}</h3>
    </div>

  </div>
</div>
