<!DOCTYPE html>
<base href="/"> 
<html ng-app="app">
<head>
  <title>CarpoolCollective</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
</head>

<body>

<% if logged_in? %>
  <title ng-bind= "title"></title>
<%end%>



<%= yield %>

</body>
</html>
